#detail-title {
  width: 100%;
}
#detail-title .detail-title {
  height: 36px;
  font-size: 12px;
  line-height: 36px;
}
#detail-title .detail-title a {
  color: #333333;
}
#detail-title .detail-title a:hover {
  color: #c00;
  text-decoration: underline;
}

#detail-box {
  width: 100%;
}
#detail-box .detail-box {
  border: 1px solid #ccc;
}
#detail-box .detail-box .dbox-left {
  width: 1000px;
  float: left;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  height: 753px;
}
#detail-box .detail-box .dbox-left .dbox-show {
  width: 400px;
  float: left;
}
#detail-box .detail-box .dbox-left .magnifier-view {
  border: 1px solid #000;
}
#detail-box .detail-box .dbox-left .small-img {
  border: 2px solid #fff;
}
#detail-box .detail-box .dbox-left .small-img img {
  width: 70px;
  height: 70px;
}
#detail-box .detail-box .dbox-left .samll-active .small-img {
  border: 2px solid #CC0000;
}
#detail-box .detail-box .dbox-left .dbox-share {
  margin-top: 28px;
  height: 30px;
}
#detail-box .detail-box .dbox-left .dbox-share a {
  float: left;
  position: relative;
  margin: 0 15px 0 0;
  padding: 0 0 0 20px;
  line-height: 22px;
  color: #666;
  font-size: 12px;
}
#detail-box .detail-box .dbox-left .dbox-share a > i {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 46px;
  height: 22px;
  opacity: 0.25;
  background: url(img/bg_1.png) no-repeat;
}
#detail-box .detail-box .dbox-left .dbox-share a:hover > i {
  opacity: 1;
}
#detail-box .detail-box .dbox-left .dbox-share a:hover span {
  background: #b0b0b0;
  color: #fff;
}
#detail-box .detail-box .dbox-left .dbox-share .share:hover b {
  display: block;
}
#detail-box .detail-box .dbox-left .dbox-share .share b {
  display: none;
  position: absolute;
  width: 80px;
  height: 24px;
  line-height: 24px;
  top: 20px;
  left: 0;
  background: #fff;
  z-index: 8;
}
#detail-box .detail-box .dbox-left .dbox-share .share b i {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(img/bg_1.png) no-repeat;
  cursor: pointer;
}
#detail-box .detail-box .dbox-left .dbox-share .share b i:nth-of-type(1) {
  background-position: 0 -358px;
}
#detail-box .detail-box .dbox-left .dbox-share .share b i:nth-of-type(2) {
  background-position: -17px -358px;
}
#detail-box .detail-box .dbox-left .dbox-share .share b i:nth-of-type(3) {
  background-position: 0 -375px;
}
#detail-box .detail-box .dbox-left .dbox-share .share b i:nth-of-type(4) {
  background-position: -17px -375px;
}
#detail-box .detail-box .dbox-left .warning {
  margin-top: 30px;
  width: 242px;
  height: 30px;
  padding: 0 10px;
  line-height: 30px;
  font-size: 12px;
  background: #CC0000;
  color: #fff;
}
#detail-box .detail-box .dbox-left .dbox-details {
  width: 530px;
  float: right;
  margin-top: 10px;
}
#detail-box .detail-box .dbox-left .dbox-details .detail-title .goods-name {
  font-size: 16px;
  color: #333333;
}
#detail-box .detail-box .dbox-left .dbox-details .detail-title .goods-introduce {
  font-size: 12px;
  color: #999;
}
#detail-box .detail-box .dbox-left .dbox-details .group-box {
  margin-top: 14px;
  padding: 0 10px;
  height: 48px;
  background: #cc0000;
}
#detail-box .detail-box .dbox-left .dbox-details .group-logo {
  height: 48px;
  width: 153px;
  float: left;
  line-height: 48px;
  color: #fff;
}
#detail-box .detail-box .dbox-left .dbox-details .group-logo a {
  display: block;
  float: left;
  height: 48px;
  width: 86px;
}
#detail-box .detail-box .dbox-left .dbox-details .group-logo i {
  float: left;
}
#detail-box .detail-box .dbox-left .dbox-details .group-logo .mall-logo {
  margin-left: 10px;
  background: url(img/mall.png) no-repeat -33px center;
}
#detail-box .detail-box .dbox-left .dbox-details .group-logo .g-logo {
  width: 44px;
  height: 48px;
  background: url(img/group.png) no-repeat center;
  margin-left: 3px;
}
#detail-box .detail-box .dbox-left .dbox-details .over-time {
  float: right;
  height: 48px;
  line-height: 48px;
  color: #fff;
}
#detail-box .detail-box .dbox-left .dbox-details .over-time .time-num {
  font-size: 14px;
  color: #CC0000;
  width: 22px;
  height: 24px;
  background: #fff;
  padding: 0 2px;
}
#detail-box .detail-box .dbox-left .dbox-details .g-price {
  width: 530px;
  height: 40px;
  padding: 5px 10px;
  background: #f7f7f7;
  line-height: 30px;
  font-size: 12px;
}
#detail-box .detail-box .dbox-left .dbox-details .g-price dt {
  width: 85px;
  text-align: center;
  color: #666666;
  float: left;
}
#detail-box .detail-box .dbox-left .dbox-details .g-price dd {
  font-size: 12px;
  color: #cc0000;
  float: left;
  font-weight: 900;
}
#detail-box .detail-box .dbox-left .dbox-details .g-price dd em {
  font-size: 22px;
}
#detail-box .detail-box .dbox-left .dbox-details .g-price dd .g-original {
  font-size: 12px;
  color: #999;
  margin-left: 5px;
  text-decoration: line-through;
  font-weight: 200;
}
#detail-box .detail-box .dbox-left .dbox-details .g-price dd .g-save {
  background: #cc0000;
  margin-left: 10px;
  font-size: 12px;
  color: #fff;
  font-weight: 200;
}
#detail-box .detail-box .dbox-left .dbox-details .information {
  width: 530px;
  margin-top: 15px;
}
#detail-box .detail-box .dbox-left .dbox-details .information .distribution {
  height: 25px;
}
#detail-box .detail-box .dbox-left .dbox-details .information .distribution dl dt, #detail-box .detail-box .dbox-left .dbox-details .information .distribution dl dd {
  float: left;
}
#detail-box .detail-box .dbox-left .dbox-details .information .distribution dl dt span {
  letter-spacing: 15px;
  color: #666666;
  font-size: 12px;
}
#detail-box .detail-box .dbox-left .dbox-details .information .distribution dl dd .site-name {
  position: relative;
  display: inline-block;
  height: 23px;
  border: 1px solid #e6e6e6;
  padding: 0 20px 0 6px;
  line-height: 23px;
  cursor: pointer;
  z-index: 6;
  background-color: #fff;
  font-size: 12px;
}
#detail-box .detail-box .dbox-left .dbox-details .information .distribution dl dd .site-name i {
  display: block;
  width: 9px;
  height: 6px;
  position: absolute;
  background: url(img/icon-tf.png) no-repeat;
  background-position: -7px -9px;
  right: 8px;
  top: 10px;
}
#detail-box .detail-box .dbox-left .dbox-details .information .distribution dl dd span {
  font-size: 12px;
  margin-left: 10px;
}
#detail-box .detail-box .dbox-left .dbox-details .information .evaluate {
  margin-top: 15px;
  overflow: hidden;
}
#detail-box .detail-box .dbox-left .dbox-details .information .evaluate dl dt, #detail-box .detail-box .dbox-left .dbox-details .information .evaluate dl dd {
  float: left;
}
#detail-box .detail-box .dbox-left .dbox-details .information .evaluate dl dt {
  font-size: 12px;
  color: #666666;
  letter-spacing: 15px;
}
#detail-box .detail-box .dbox-left .dbox-details .information .evaluate dl dd {
  font-size: 12px;
}
#detail-box .detail-box .dbox-left .dbox-details .information .evaluate dl dd a {
  color: #333;
  margin-left: 5px;
}
#detail-box .detail-box .dbox-left .dbox-details .information .evaluate dl dd a em {
  color: #FF3333;
}
#detail-box .detail-box .dbox-left .dbox-details .information .evaluate dl dd a:hover em {
  color: #c00;
}
#detail-box .detail-box .dbox-left .dbox-details .information .evaluate dl dd a:hover {
  color: #f33;
}
#detail-box .detail-box .dbox-left .dbox-details .information .evaluate dl dd i {
  color: #999;
}
#detail-box .detail-box .dbox-left .dbox-details .information .serve {
  margin-top: 20px;
  overflow: hidden;
}
#detail-box .detail-box .dbox-left .dbox-details .information .serve dl dt, #detail-box .detail-box .dbox-left .dbox-details .information .serve dl dd {
  float: left;
}
#detail-box .detail-box .dbox-left .dbox-details .information .serve dl dt {
  font-size: 12px;
  color: #666666;
}
#detail-box .detail-box .dbox-left .dbox-details .information .serve dl .shop_serve {
  font-size: 12px;
  color: #333;
  margin-left: 10px;
}
#detail-box .detail-box .dbox-left .dbox-details .information .serve dl .serve-icon {
  padding-left: 65px;
  font-size: 12px;
}
#detail-box .detail-box .dbox-left .dbox-details .information .serve dl .serve-icon a {
  display: inline-block;
  height: 24px;
  width: 110px;
  line-height: 24px;
  vertical-align: middle;
  color: #333333;
}
#detail-box .detail-box .dbox-left .dbox-details .information .serve dl .serve-icon a i {
  width: 23px;
  height: 23px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}
#detail-box .detail-box .dbox-left .dbox-details .information .serve dl .serve-icon a:nth-child(1) i {
  background: url(img/icon6.png) no-repeat;
}
#detail-box .detail-box .dbox-left .dbox-details .information .serve dl .serve-icon a:nth-child(2) i {
  background: url(img/icon2.png) no-repeat;
}
#detail-box .detail-box .dbox-left .dbox-details .information .serve dl .serve-icon a:nth-child(3) i {
  background: url(img/icon4.png) no-repeat;
}
#detail-box .detail-box .dbox-left .dbox-details .information .group-form {
  width: 530px;
  margin: 10px 0px 15px;
  border-top: 1px solid #f2f2f2;
  height: 47px;
}
#detail-box .detail-box .dbox-left .dbox-details .information .group-form .form-type {
  width: 530px;
  height: 47px;
  padding: 12px 60px 0 10px;
  background-color: #f7f7f7;
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin-bottom: 10px;
}
#detail-box .detail-box .dbox-left .dbox-details .information .group-form .form-type dl dt, #detail-box .detail-box .dbox-left .dbox-details .information .group-form .form-type dl dd {
  float: left;
}
#detail-box .detail-box .dbox-left .dbox-details .information .group-form .form-type dl dt {
  width: 60px;
  height: 32px;
  font-size: 12px;
  line-height: 32px;
  color: #CC0000;
}
#detail-box .detail-box .dbox-left .dbox-details .information .group-form .form-type dl dd {
  width: 252px;
  height: 30px;
  padding: 0 10px;
  border: 1px solid #FF0000;
  line-height: 30px;
  font-size: 12px;
}
#detail-box .detail-box .dbox-left .dbox-details .information .group-form .form-type dl dd .icon {
  height: 16px;
  line-height: 16px;
  padding: 0 2px;
  color: #fff;
  background-color: #c00;
  margin-right: 5px;
}
#detail-box .detail-box .dbox-left .dbox-details .information .group-form .color-type, #detail-box .detail-box .dbox-left .dbox-details .information .group-form .suit {
  padding: 12px 60px 0 10px;
}
#detail-box .detail-box .dbox-left .dbox-details .information .group-form .color-type dl, #detail-box .detail-box .dbox-left .dbox-details .information .group-form .suit dl {
  overflow: hidden;
}
#detail-box .detail-box .dbox-left .dbox-details .information .group-form .color-type dl dt, #detail-box .detail-box .dbox-left .dbox-details .information .group-form .color-type dl dd, #detail-box .detail-box .dbox-left .dbox-details .information .group-form .suit dl dt, #detail-box .detail-box .dbox-left .dbox-details .information .group-form .suit dl dd {
  float: left;
}
#detail-box .detail-box .dbox-left .dbox-details .information .group-form .color-type dl dt, #detail-box .detail-box .dbox-left .dbox-details .information .group-form .suit dl dt {
  width: 60px;
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  color: #666666;
}
#detail-box .detail-box .dbox-left .dbox-details .information .group-form .color-type dl dd, #detail-box .detail-box .dbox-left .dbox-details .information .group-form .suit dl dd {
  overflow: hidden;
}
#detail-box .detail-box .dbox-left .dbox-details .information .group-form .color-type dl dd a, #detail-box .detail-box .dbox-left .dbox-details .information .group-form .suit dl dd a {
  position: relative;
  display: block;
  float: left;
  padding: 0 9px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  border: 2px solid #E6E6E6;
  margin-right: 10px;
  color: #333;
}
#detail-box .detail-box .dbox-left .dbox-details .information .group-form .color-type dl dd a i, #detail-box .detail-box .dbox-left .dbox-details .information .group-form .suit dl dd a i {
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  bottom: 0;
  right: 0;
}
#detail-box .detail-box .dbox-left .dbox-details .information .group-form .color-type dl dd .check i, #detail-box .detail-box .dbox-left .dbox-details .information .group-form .suit dl dd .check i {
  background: url(img/bg_1.png);
  background-position: 0 -346px;
}
#detail-box .detail-box .dbox-left .dbox-details .information .group-form .color-type dl dd .check, #detail-box .detail-box .dbox-left .dbox-details .information .group-form .suit dl dd .check {
  border: 2px solid #c00;
}
#detail-box .detail-box .dbox-left .dbox-details .information .group-form .suit-type {
  margin-top: 20px;
}
#detail-box .detail-box .dbox-left .dbox-details .information .group-form .suit-type dl dt {
  letter-spacing: 15px;
  color: #666666;
}
#detail-box .detail-box .dbox-left .dbox-details .information .group-form .suit-type dl dd:nth-of-type(2) div {
  height: 58px;
  margin-left: 60px;
  border: 1px solid #E6E6E6;
  margin-top: 7px;
  background: #fafafa;
  font-size: 12px;
  line-height: 19px;
  text-align: center;
  padding-top: 14px;
}
#detail-box .detail-box .dbox-left .dbox-details .information .group-form .quantity {
  overflow: hidden;
  margin-top: 20px;
  padding: 12px 60px 0 10px;
}
#detail-box .detail-box .dbox-left .dbox-details .information .group-form .quantity dl dt, #detail-box .detail-box .dbox-left .dbox-details .information .group-form .quantity dl dd {
  float: left;
}
#detail-box .detail-box .dbox-left .dbox-details .information .group-form .quantity dl dt {
  width: 60px;
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  color: #666666;
}
#detail-box .detail-box .dbox-left .dbox-details .information .group-form .quantity dl dd {
  height: 32px;
  line-height: 32px;
  font-size: 12px;
}
#detail-box .detail-box .dbox-left .dbox-details .information .group-form .quantity dl dd span {
  display: block;
  float: left;
  width: 28px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  background: #F8F8F8;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  cursor: pointer;
}
#detail-box .detail-box .dbox-left .dbox-details .information .group-form .quantity dl dd input {
  width: 44px;
  height: 28px;
  border: 1px solid #E6E6E6;
  float: left;
  text-align: center;
}
#detail-box .detail-box .dbox-left .dbox-details .information .group-form .quantity dl dd input::-webkit-outer-spin-button,
#detail-box .detail-box .dbox-left .dbox-details .information .group-form .quantity dl dd input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
#detail-box .detail-box .dbox-left .dbox-details .information .group-form .quantity dl dd input[type="number"] {
  -moz-appearance: textfield;
}
#detail-box .detail-box .dbox-left .dbox-details .information .group-form .quantity dl dd .prve {
  border-left: 1px solid #E6E6E6;
}
#detail-box .detail-box .dbox-left .dbox-details .information .group-form .quantity dl dd .next {
  border-right: 1px solid #E6E6E6;
}
#detail-box .detail-box .dbox-left .dbox-details .information .group-form .quantity dl dd i {
  margin-left: 9px;
}
#detail-box .detail-box .dbox-left .dbox-details .information .group-form .quantity dl dd i, #detail-box .detail-box .dbox-left .dbox-details .information .group-form .quantity dl dd em {
  color: #999999;
}
#detail-box .detail-box .dbox-left .dbox-details .information .group-form .buy-btn {
  height: 80px;
  padding: 30px 0 0 65px;
  margin-bottom: 64px;
}
#detail-box .detail-box .dbox-left .dbox-details .information .group-form .buy-btn span {
  width: 140px;
  height: 50px;
  margin-right: 10px;
  display: block;
  float: left;
  border-radius: 2px;
  background: #000;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
#detail-box .detail-box .dbox-left .dbox-details .information .group-form .buy-btn #promptly-btn {
  background: #c00;
  color: #fff;
}
#detail-box .detail-box .dbox-left .dbox-details .information .group-form .buy-btn #promptly-btn:hover {
  background: #b90000;
}
#detail-box .detail-box .dbox-left .dbox-details .information .group-form .buy-btn #addCart {
  background: #ffeded;
  color: #c00;
  border: 1px solid #FFDEDE;
}
#detail-box .detail-box .dbox-left .dbox-details .information .group-form .buy-btn #addCart:hover {
  background: #ffe2e2;
}
#detail-box .detail-box .dbox-right {
  float: left;
  width: 197px;
  border-left: 1px solid #F1F1F1;
}
#detail-box .detail-box .dbox-right .recomm_title {
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  border-bottom: 1px solid #ededed;
  background-color: #fafafa;
}
#detail-box .detail-box .dbox-right .recomm_title span {
  float: left;
  font-size: 14px;
  color: #333;
}
#detail-box .detail-box .dbox-right .recomm_title a {
  font-size: 12px;
  float: right;
}
#detail-box .detail-box .dbox-right .re-list {
  padding: 0 15px;
}
#detail-box .detail-box .dbox-right .re-list li {
  padding-top: 8px;
}
#detail-box .detail-box .dbox-right .re-list li .re-pic {
  display: block;
  width: 150px;
  height: 150px;
}
#detail-box .detail-box .dbox-right .re-list li .re-pic img {
  max-width: 100%;
  text-align: center;
}
#detail-box .detail-box .dbox-right .re-list li .re-name {
  height: 36px;
  font-size: 12px;
  line-height: 18px;
  overflow: hidden;
  word-break: break-all;
  word-wrap: break-word;
}
#detail-box .detail-box .dbox-right .re-list li .re-name a {
  color: #333;
}
#detail-box .detail-box .dbox-right .re-list li .re-price {
  height: 30px;
  line-height: 30px;
  font-size: 16px;
}
#detail-box .detail-box .dbox-right .re-list li .re-price .re-current {
  color: #c00;
  float: left;
}
#detail-box .detail-box .dbox-right .re-list li .re-price .re-original {
  color: #999999;
  text-decoration: line-through;
  float: right;
  font-size: 14px;
}

#float-consult {
  position: fixed;
  top: 250px;
  right: 50px;
  width: 80px;
  height: 160px;
}
#float-consult a {
  display: block;
  width: 80px;
  height: 80px;
  padding: 41px 0 11px;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  border: 1px solid #ededed;
  background-color: #fff;
  position: relative;
  color: #333;
  background: url(img/bg_1.png);
}
#float-consult span {
  display: block;
}
#float-consult span:hover {
  background: #ffeded;
}
#float-consult span:nth-child(1) a {
  background-position: 50% -976px;
}
#float-consult span:nth-child(2) a {
  background-position: 50% -1056px;
}

#sidebar {
  position: fixed;
  right: -253px;
  top: 0;
  z-index: 9;
}
#sidebar .sidebar {
  width: 37px;
  background: #2D2D2D;
  float: left;
}
#sidebar .sidebar .tabbox {
  width: 37px;
  height: 266px;
  margin-top: 110px;
}
#sidebar .sidebar .tabbox .tab-order, #sidebar .sidebar .tabbox .tab-footmark, #sidebar .sidebar .tabbox .tab-cart, #sidebar .sidebar .tabbox .tab-discounts {
  position: relative;
  margin-top: 10px;
}
#sidebar .sidebar .tabbox .tab-order a, #sidebar .sidebar .tabbox .tab-footmark a, #sidebar .sidebar .tabbox .tab-cart a, #sidebar .sidebar .tabbox .tab-discounts a {
  width: 37px;
  height: 37px;
  display: block;
  background: url(../css/img/bar_ico.png);
  background-position: 0 0;
}
#sidebar .sidebar .tabbox .tab-order:hover, #sidebar .sidebar .tabbox .tab-footmark:hover, #sidebar .sidebar .tabbox .tab-cart:hover, #sidebar .sidebar .tabbox .tab-discounts:hover {
  background: #ff3333;
}
#sidebar .sidebar .tabbox .tab-order span, #sidebar .sidebar .tabbox .tab-footmark span, #sidebar .sidebar .tabbox .tab-cart span, #sidebar .sidebar .tabbox .tab-discounts span {
  width: 80px;
  height: 37px;
  background: #ff3333;
  display: block;
  position: absolute;
  left: 37px;
  top: 0;
  text-align: center;
  line-height: 37px;
  z-index: -1;
  font-size: 12px;
  color: #fff;
}
#sidebar .sidebar .tabbox .tab-footmark a {
  background-position: 0 -74px;
}
#sidebar .sidebar .tabbox .tab-cart a {
  background-position: 0 -111px;
}
#sidebar .sidebar .tabbox .tab-discounts a {
  background-position: 0 -693px;
}
#sidebar .sidebar-nav {
  width: 250px;
  background: #ededed;
  overflow: hidden;
  position: relative;
}
#sidebar .sidebar-nav li {
  position: absolute;
  background: #ededed;
  top: 0;
  left: 0;
  width: 250px;
}
#sidebar .sidebar-nav li i {
  display: block;
  float: left;
  margin-right: 5px;
  cursor: pointer;
  width: 37px;
  height: 50px;
  background: url(img/bar_ico.png);
  background-position: 0 -367px;
}
#sidebar .sidebar-nav li .sn-title {
  height: 50px;
  line-height: 50px;
  text-align: center;
}

#goodsremind {
  display: none;
  position: fixed;
  background: #fff;
  border: 1px solid #ccc;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 416px;
  background: rgba(0, 0, 0, 0.15);
}
#goodsremind .remind {
  padding: 40px 20px 40px 48px;
  background: #fff;
  border: 1px solid #ccc;
  position: relative;
}
#goodsremind .remind .colse {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  width: 18px;
  height: 17px;
  background: url(img/bg_1.png);
  background-position: -8px -280px;
  cursor: pointer;
}
#goodsremind .success {
  padding: 10px 0 8px 60px;
  background: url(img/bg_1.png) no-repeat;
  background-position: -14px -893px;
}
#goodsremind .success h3 {
  padding: 0 0 5px;
}
#goodsremind .success p {
  line-height: 26px;
  color: #666;
}
#goodsremind .success p em {
  padding: 0 5px;
}
#goodsremind .btns {
  padding: 40px 20px 40px 48px;
}
#goodsremind .btns .gocart {
  display: block;
  width: 110px;
  height: 30px;
  background: #cc0000;
  line-height: 30px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  float: left;
}
#goodsremind .btns span {
  display: block;
  width: 110px;
  height: 30px;
  font-size: 12px;
  text-align: center;
  float: left;
  line-height: 30px;
}

#detail-bottom {
  width: 100%;
}
#detail-bottom .detail-bottom {
  border: 1px solid #ededed;
  margin-top: 10px;
  padding-left: 200px;
  background: #fafafa;
}
#detail-bottom .detail-bottom .detail-tab {
  height: 36px;
  background: #fafafa;
}
#detail-bottom .detail-bottom .detail-tab li {
  float: left;
  border-top: 1px solid #fafafa;
  border-right: 1px solid #ededed;
  height: 36px;
}
#detail-bottom .detail-bottom .detail-tab li a {
  display: block;
  height: 36px;
  padding: 0 15px;
  line-height: 36px;
  font-size: 14px;
  color: #333;
}
#detail-bottom .detail-bottom .detail-tab .active {
  border-top: 1px solid #c00;
  background: #fff;
}
#detail-bottom .tab-inner {
  width: 790px;
  padding-top: 20px;
  background: #fff;
}
#detail-bottom .tab-inner div {
  display: none;
}
#detail-bottom .tab-inner div img {
  width: 100%;
}

/*# sourceMappingURL=detail.css.map */
