* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content {
  width: 1200px;
  margin: 0 auto;
}

@keyframes xuanz {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
header #header-top {
  width: 100%;
  background: #F5F5F5;
  border-bottom: 1px solid #E9E9E9;
}
header #header-content {
  width: 100%;
  background: #FFFFFF;
}
header #header-bottom {
  width: 100%;
  background: #FFFFFF;
}

.header-top {
  height: 30px;
}
.header-top .head-top-l {
  width: 310px;
  height: 30px;
  float: left;
}
.header-top .ht-title {
  display: inline-block;
  width: 48px;
  height: 30px;
  font-size: 12px;
  color: #666666;
  line-height: 30px;
  margin-right: 20px;
  cursor: pointer;
}
.header-top .ht-title:hover {
  color: #c00;
  text-decoration: underline;
}
.header-top .ht-login {
  display: inline;
  font-size: 12px;
  color: #666666;
  line-height: 30px;
  margin-right: 23px;
  text-align: center;
}
.header-top .ht-login a:hover {
  color: #c40000;
  text-decoration: underline;
}
.header-top .ht-register {
  display: inline;
  font-size: 12px;
  color: #666666;
  line-height: 30px;
}
.header-top .ht-register a:hover {
  color: #c40000;
  text-decoration: underline;
}
.header-top .head-top-r {
  float: right;
  height: 30px;
}
.header-top .ht-nav {
  height: 30px;
}
.header-top .ht-nav > li {
  float: left;
  margin: 0 10px;
  height: 31px;
  border: 1px solid #f5f5f5;
  border-bottom: 1px solid #E9E9E9;
}
.header-top .ht-nav > li > a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 12px;
  color: #666666;
  line-height: 30px;
  text-align: center;
}
.header-top .ht-nav > li .ahover:hover {
  color: #c40000;
  text-decoration: underline;
}
.header-top .ht-nav > .fengex {
  width: 1px;
  height: 20px;
  margin: 6px 10px;
  background: #D9CCD9;
  border: none;
}
.header-top .ht-nav .htn-li-buyC {
  position: relative;
}
.header-top .ht-nav .htn-li-buyC:hover {
  border-bottom: none;
}
.header-top .ht-nav .htn-li-buyC .htn-buyC {
  padding: 0 23px 0 10px;
}
.header-top .ht-nav .htn-li-buyC .htn-buyC i {
  width: 7px;
  height: 4px;
  position: absolute;
  display: block;
  background: url(img/head-top-nav_ico.png);
  background-position: 0 -45px;
  right: 10px;
  top: 13px;
}
.header-top .ht-nav .htn-li-buyC:hover .htn-buyC {
  background: #fff;
}
.header-top .ht-nav .htn-li-buyC:hover .htn-buyC i {
  animation: xuanz 0.2s;
  transform: rotate(-180deg);
}
.header-top .ht-nav .htn-li-buyC:hover .htn-buy-b {
  display: block;
}
.header-top .ht-nav .htn-li-buyC .htn-buy-b {
  width: 106px;
  height: 62px;
  display: none;
  position: absolute;
  padding: 3px 9px;
  top: 30px;
  left: 0;
  background: #fff;
  z-index: 9;
}
.header-top .ht-nav .htn-li-buyC .htn-buy-b a {
  display: block;
  width: 88px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  font-size: 12px;
  color: #666;
}
.header-top .ht-nav .htn-li-buyC .htn-buy-b a b {
  text-decoration: none;
  color: red;
}
.header-top .ht-nav .htn-li-buyC .htn-buy-b a:hover {
  color: red;
}
.header-top .ht-nav .htn-phone {
  margin: 0;
  position: relative;
}
.header-top .ht-nav .htn-phone > a {
  padding: 0 23px 0 25px;
}
.header-top .ht-nav .htn-phone > a b {
  width: 10px;
  height: 14px;
  display: block;
  position: absolute;
  background: url(img/head-top-nav_ico.png);
  background-position: -10px -7px;
  left: 10px;
  top: 8px;
}
.header-top .ht-nav .htn-phone > a i {
  width: 7px;
  height: 4px;
  position: absolute;
  display: block;
  background: url(img/head-top-nav_ico.png);
  background-position: 0 -45px;
  right: 10px;
  top: 13px;
}
.header-top .ht-nav .htn-phone .htn-phone-ewm {
  display: none;
  width: 172px;
  height: 172px;
  position: absolute;
  top: 30px;
  background: #fff;
  left: 0;
  border: 1px solid #eaeaea;
  border-top: none;
  text-align: center;
  line-height: 172px;
  z-index: 9;
}
.header-top .ht-nav .htn-phone .htn-phone-ewm img {
  width: 130px;
  height: 130px;
}
.header-top .ht-nav .htn-phone:hover > a i {
  animation: xuanz 0.2s;
  transform: rotate(-180deg);
}
.header-top .ht-nav .htn-phone:hover {
  background: #fff;
  border-bottom-color: #fff;
}
.header-top .ht-nav .htn-phone:hover .htn-phone-ewm {
  display: block;
}
.header-top .ht-nav .htn-service {
  position: relative;
}
.header-top .ht-nav .htn-service > a {
  padding: 0 23px 0 10px;
}
.header-top .ht-nav .htn-service > a i {
  width: 7px;
  height: 4px;
  background: url(img/head-top-nav_ico.png);
  background-position: 0 -45px;
  display: block;
  position: absolute;
  right: 10px;
  top: 13px;
}
.header-top .ht-nav .htn-service:hover {
  background: #fff;
  border-bottom-color: #fff;
}
.header-top .ht-nav .htn-service:hover > a i {
  animation: xuanz 0.2s;
  transform: rotate(-180deg);
}
.header-top .ht-nav .htn-service .htn-phone-num {
  display: none;
  width: 110px;
  padding: 3px 9px;
  font-size: 12px;
  color: #666666;
  border: 1px solid #eaeaea;
  border-top: none;
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 9;
}
.header-top .ht-nav .htn-service:hover .htn-phone-num {
  display: block;
}

.header-content {
  position: relative;
  height: 110px;
}
.header-content h1 {
  height: 100%;
  padding-top: 30px;
  float: left;
}
.header-content h1 a {
  display: inline-block;
  width: 200px;
  height: 50px;
  text-indent: -999em;
  background: url(img/zol-tuan.png) no-repeat;
}
.header-content #search-box {
  width: 540px;
  float: left;
  height: 74px;
  margin-top: 30px;
  position: absolute;
  left: 288px;
}
.header-content #search-box #search-text {
  width: 463px;
  height: 35px;
  border: 2px solid #ec3639;
  border-right: none;
  float: left;
  padding-left: 11px;
}
.header-content #search-box #search-btn {
  display: block;
  width: 77px;
  height: 35px;
  background: #EC3639;
  text-align: center;
  line-height: 35px;
  font-size: 16px;
  color: #FFFFFF;
  float: left;
}
.header-content #search-box #search-brand {
  float: left;
}
.header-content #search-box #search-brand li {
  float: left;
  margin-right: 21px;
  margin-top: 4px;
}
.header-content #search-box #search-brand li a {
  font-size: 12px;
  color: #999999;
}
.header-content #search-box #search-brand li a:hover {
  color: #c40000;
  text-decoration: underline;
}
.header-content #quick-entry {
  position: absolute;
  right: 0;
  margin-top: 30px;
  height: 35px;
}
.header-content #quick-entry li {
  float: left;
  position: relative;
}
.header-content #quick-entry li a {
  display: block;
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  color: #333333;
  padding-left: 28px;
  margin-right: 20px;
}
.header-content #quick-entry li a i {
  display: block;
  position: absolute;
  background: url(img/head.png);
  left: 0;
}
.header-content #quick-entry li a:hover {
  color: #c00;
}
.header-content #quick-entry li .qe-myOrder i {
  width: 20px;
  height: 20px;
  top: 7px;
  background-position: 0 -167px;
}
.header-content #quick-entry li .qe-myOrder:hover i {
  background-position: -30px -167px;
}
.header-content #quick-entry li .qe-myCoupon i {
  width: 22px;
  height: 18px;
  top: 8px;
  background-position: 0 -190px;
}
.header-content #quick-entry li .qe-myCoupon:hover i {
  background-position: -28px -190px;
}
.header-content #quick-entry li .qe-cart {
  padding-left: 26px;
}
.header-content #quick-entry li .qe-cart i {
  display: block;
  width: 18px;
  height: 18px;
  top: 8px;
  background-position: 0 -211px;
}
.header-content #quick-entry li .qe-cart:hover i {
  background-position: -32px -211px;
}
.header-content #quick-entry li .qe-cart em {
  display: block;
  width: 14px;
  height: 14px;
  background: #ff3333;
  border-radius: 10px;
  position: absolute;
  left: 12px;
  z-index: 8;
  font-size: 12px;
  color: #fff;
  text-align: center;
  line-height: 14px;
}

#header-nav {
  height: 39px;
  border-bottom: 1px solid #EC3639;
}
#header-nav #hnav-menu {
  float: left;
  width: 160px;
  height: 38px;
  background: #EC3639;
  line-height: 38px;
  padding-left: 52px;
  color: #FDFFFF;
  position: relative;
  cursor: pointer;
}
#header-nav #hnav-menu > i {
  display: block;
  width: 12px;
  height: 10px;
  background: url(img/head.png);
  background-position: 0 -154px;
  position: absolute;
  top: 14px;
  left: 26px;
}
#header-nav #hnav-menu .sub-Menus {
  width: 160px;
  height: 400px;
  position: absolute;
  background: #454545;
  top: 39px;
  z-index: 8;
  display: none;
  left: 0;
}
#header-nav #hnav-menu .sub-Menus li a:hover {
  color: #f33 !important;
  text-decoration: underline;
}
#header-nav #hnav-menu .sub-Menus li {
  position: relative;
  border-left: 1px solid #454545;
}
#header-nav #hnav-menu .sub-Menus li > a {
  width: 160px;
  height: 54px;
  padding-left: 52px;
  line-height: 54px;
  font-size: 16px;
  color: #fff;
}
#header-nav #hnav-menu .sub-Menus li > a i {
  display: block;
  position: absolute;
  background: url(img/head.png);
  top: 17px;
}
#header-nav #hnav-menu .sub-Menus li > a em {
  display: block;
  position: absolute;
  top: 23px;
  right: 12px;
  width: 6px;
  height: 11px;
  background: url(img/head.png);
  background-position: -44px -154px;
}
#header-nav #hnav-menu .sub-Menus li .menu3 {
  display: none;
  position: absolute;
  width: 680px;
  height: 400px;
  left: 159px;
  top: 0;
  background: #fff;
  z-index: 8;
  border: 1px solid #999;
  border-top: none;
  border-left: none;
  padding: 0 30px;
}
#header-nav #hnav-menu .sub-Menus li .menu3 .menu-type {
  padding: 13px 0 0;
}
#header-nav #hnav-menu .sub-Menus li .menu3 .menu-type a {
  margin-right: 30px;
  font-size: 14px;
  display: inline-block;
  color: #333;
}
#header-nav #hnav-menu .sub-Menus li .menu3-two {
  top: -54px;
}
#header-nav #hnav-menu .sub-Menus li .menu3-three {
  top: -107px;
}
#header-nav #hnav-menu .sub-Menus li .menu3-four {
  top: -161px;
}
#header-nav #hnav-menu .sub-Menus li .menu3-five {
  top: -214px;
}
#header-nav #hnav-menu .sub-Menus li .menu3-six {
  top: -268px;
}
#header-nav #hnav-menu .sub-Menus li:hover {
  border-left: 1px solid #454545;
  background: #fff;
}
#header-nav #hnav-menu .sub-Menus li:hover > a {
  color: #454545;
}
#header-nav #hnav-menu .sub-Menus li:hover em {
  background: none;
}
#header-nav #hnav-menu .sub-Menus li:nth-child(1) a i {
  width: 13px;
  height: 18px;
  background-position: 0 0;
  left: 24px;
}
#header-nav #hnav-menu .sub-Menus li:nth-child(1):hover i {
  background-position: -37px 0;
}
#header-nav #hnav-menu .sub-Menus li:nth-child(1):hover .menu3-one {
  display: block;
}
#header-nav #hnav-menu .sub-Menus li:nth-child(2) a i {
  width: 20px;
  height: 16px;
  background-position: 0 -21px;
  left: 20px;
  top: 20px;
}
#header-nav #hnav-menu .sub-Menus li:nth-child(2):hover i {
  background-position: -30px -21px;
}
#header-nav #hnav-menu .sub-Menus li:nth-child(2):hover .menu3-two {
  display: block;
}
#header-nav #hnav-menu .sub-Menus li:nth-child(3) a i {
  width: 19px;
  height: 18px;
  background-position: 0 -133px;
  left: 21px;
  top: 19px;
}
#header-nav #hnav-menu .sub-Menus li:nth-child(3):hover i {
  background-position: -31px -133px;
}
#header-nav #hnav-menu .sub-Menus li:nth-child(3):hover .menu3-three {
  display: block;
}
#header-nav #hnav-menu .sub-Menus li:nth-child(4) a i {
  width: 20px;
  height: 18px;
  background-position: 0 -40px;
  left: 20px;
  top: 17px;
}
#header-nav #hnav-menu .sub-Menus li:nth-child(4):hover i {
  background-position: -30px -40px;
}
#header-nav #hnav-menu .sub-Menus li:nth-child(4):hover .menu3-four {
  display: block;
}
#header-nav #hnav-menu .sub-Menus li:nth-child(5) a i {
  width: 15px;
  height: 27px;
  background-position: 0 -61px;
  left: 20px;
  top: 12px;
}
#header-nav #hnav-menu .sub-Menus li:nth-child(5):hover i {
  background-position: -35px -61px;
}
#header-nav #hnav-menu .sub-Menus li:nth-child(5):hover .menu3-five {
  display: block;
}
#header-nav #hnav-menu .sub-Menus li:nth-child(6) a i {
  width: 19px;
  height: 17px;
  background-position: 0 -91px;
  left: 21px;
  top: 18px;
}
#header-nav #hnav-menu .sub-Menus li:nth-child(6):hover i {
  background-position: -31px -91px;
}
#header-nav #hnav-menu .sub-Menus li:nth-child(6):hover .menu3-six {
  display: block;
}
#header-nav #hnav-menu .sub-Menus li:nth-child(7) a i {
  width: 23px;
  height: 19px;
  background-position: 0 -111px;
  left: 18px;
  top: 18px;
}
#header-nav #hnav-menu .sub-Menus li:nth-child(7):hover i {
  background-position: -27px -111px;
}
#header-nav .hnav-nav {
  padding-left: 26px;
  float: left;
}
#header-nav .hnav-nav li {
  float: left;
  margin-right: 30px;
}
#header-nav .hnav-nav li a {
  display: block;
  height: 38px;
  padding: 0 10px;
  line-height: 38px;
  font-size: 18px;
  color: #333333;
}
#header-nav .hnav-nav li a:hover {
  color: #FF3333;
}
#header-nav .hnav-nav li .Aactive {
  color: #FF3333;
}

main {
  width: 100%;
}
main #banner-box {
  height: 300px;
}
main #bb-slide {
  width: 900px;
  height: 300px;
  float: left;
  position: relative;
  overflow: hidden;
}
main #bb-slide #slide-box {
  width: 2700px;
  position: absolute;
  left: 0;
  top: 0;
}
main #bb-slide #slide-box li {
  float: left;
}
main #bb-slide .point {
  position: absolute;
  height: 14px;
  width: 900px;
  bottom: 10px;
  text-align: center;
  line-height: 14px;
}
main #bb-slide .point span {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #FFFFFF;
  margin-right: 15px;
}
main #bb-slide .point .active {
  background: red;
}
main #bb-slide .direction {
  height: 65px;
  width: 900px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
main #bb-slide .direction span {
  display: block;
  width: 39px;
  height: 65px;
  cursor: pointer;
  position: absolute;
  background: #000;
}
main #bb-slide .direction span:hover {
  opacity: 0.3;
}
main #bb-slide .direction .prev {
  background: url(img/prev-btn.png) no-repeat;
  left: 0;
}
main #bb-slide .direction .next {
  background: url(img/next-btn.png) no-repeat;
  right: 0;
}
main #bb-list {
  float: left;
  width: 300px;
  height: 300px;
}
main #cover-list {
  width: 100%;
}
main #cover-list .cover-list {
  height: 80px;
  background: #FAFAFA;
}
main #cover-list .cover-nav {
  padding-left: 54px;
}
main #cover-list .cover-nav li {
  float: left;
  background: url(img/siash.png) no-repeat 172px center;
}
main #cover-list .cover-nav li a {
  display: block;
  height: 80px;
  width: 240px;
  padding-left: 60px;
  position: relative;
  color: #EA6161;
  font-size: 18px;
  line-height: 80px;
}
main #cover-list .cover-nav li a i {
  display: block;
  width: 50px;
  height: 50px;
  background: url(img/ico.png);
  position: absolute;
  left: 0;
  top: 15px;
}
main #cover-list .cover-nav .cover-five {
  width: 186px;
  background: none;
}
main #cover-list .cover-nav .cover-five i {
  background-position: -50px -384px;
}
main #cover-list .cover-nav .cover-one i {
  background-position: -1px -334px;
}
main #cover-list .cover-nav .cover-two i {
  background-position: -51px -334px;
}
main #cover-list .cover-nav .cover-three i {
  background-position: -101px -334px;
}
main #cover-list .cover-nav .cover-four i {
  background-position: 0px -384px;
}
main #quality {
  width: 100%;
  background: #FFFFFF;
}
main .quality .quality-title {
  padding-top: 32px;
  height: 65px;
}
main .quality .quality-title h3 {
  font-size: 24px;
  font-weight: 900;
  float: left;
}
main .quality .quality-title p {
  width: 70px;
  height: 24px;
  float: right;
}
main .quality .quality-title p span {
  display: block;
  width: 35px;
  height: 24px;
  border: 1px solid #E0E0E0;
  float: left;
  cursor: pointer;
  background: url(img/bx-btn.png);
}
main .quality .quality-title p .prev {
  background-position: 0 0;
}
main .quality .quality-title p .prev:hover {
  background-position: 0 -44px;
}
main .quality .quality-title p .next {
  background-position: -3px -22px;
}
main .quality .quality-title p .next:hover {
  background-position: -3px  -66px;
}
main .quality #quality-box {
  height: 363px;
  border: 1px solid #EDEDED;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}
main .quality .qb-slide {
  width: 3600px;
  height: 363px;
  position: absolute;
  left: 0;
  top: 0;
}
main .quality .qb-slide li {
  width: 300px;
  height: 363px;
  border-right: 1px dashed #ededed;
  float: left;
  padding: 15px  20px;
  position: relative;
}
main .quality .qb-slide li .qb-pic {
  position: relative;
}
main .quality .qb-slide li .qb-pic img {
  width: 201px;
  height: 201px;
}
main .quality .qb-slide li .qb-pic span {
  display: block;
  position: absolute;
  width: 37px;
  height: 37px;
  top: 0;
  left: 0;
  background: url(img/ls-price.png);
  text-align: center;
  padding: 3px 5px 0;
  color: #fff;
  font-size: 12px;
}
main .quality .qb-slide li .qb-title {
  padding-top: 10px;
}
main .quality .qb-slide li .qb-title a {
  display: inline-block;
  width: 268px;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #333333;
}
main .quality .qb-slide li .qb-title a:hover {
  color: #c00;
  text-decoration: underline;
}
main .quality .qb-slide li .qb-price {
  margin-top: 10px;
}
main .quality .qb-slide li .qb-price span {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
}
main .quality .qb-slide li .qb-price .qb-p-current {
  color: #C31F45;
}
main .quality .qb-slide li .qb-price .qb-p-original {
  color: #B0B0BB;
  text-decoration: line-through;
  padding-left: 10px;
}
main .quality .qb-slide li .qb-shop {
  margin-top: 10px;
}
main .quality .qb-slide li .qb-shop a {
  display: block;
  font-size: 14px;
  height: 25px;
  line-height: 25px;
  color: #666666;
}
main .quality .qb-slide li .qb-shop a:hover {
  color: #c00;
  text-decoration: underline;
}
main .quality .qb-slide li .qb-time {
  font-size: 12px;
  margin-top: 5px;
}
main .quality .qb-slide li .qb-time em {
  color: #C31F1E;
}
main .quality .qb-slide li #qb-btn {
  position: absolute;
  display: block;
  width: 84px;
  height: 40px;
  background: #C31F1E;
  line-height: 40px;
  text-align: center;
  color: #fff;
  bottom: 29px;
  right: 20px;
  border-radius: 2px;
}
main #today {
  width: 100%;
}
main #today #today-title {
  background: #fff;
}
main #today #today-title h3 {
  font-size: 24px;
  font-weight: 900;
  width: 1200px;
  background: #fff;
}
main #today #today-title .tt-nav {
  height: 40px;
  background: #FAFAFA;
  border: 1px solid #ededed;
}
main #today #today-title .tt-nav li {
  float: left;
  position: relative;
}
main #today #today-title .tt-nav li a {
  display: block;
  padding: 0 14px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 12px;
  color: #666666;
  border-left: 1px solid #FAFAFA;
  border-right: 1px solid #FAFAFA;
}
main #today #today-title .tt-nav li .active {
  color: #FF3333;
  background: #FFFFFF;
  border-left-color: #ededed;
  border-right-color: #ededed;
  border-bottom: 1px solid  #ededed;
}
main #today #today-title .tt-nav .tt-sales a {
  padding-right: 27px;
}
main #today #today-title .tt-nav .tt-sales a i {
  display: block;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #b6b6b6;
  position: absolute;
  right: 15px;
  top: 17px;
}
main #today #today-title .tt-nav .tt-price a {
  padding-right: 27px;
}
main #today #today-title .tt-nav .tt-price a i {
  display: block;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #b6b6b6;
  position: absolute;
  right: 15px;
  top: 17px;
}
main #today .today-ceiling {
  position: fixed;
  top: 0;
  width: 1200px;
}
main #today #goods-nav {
  margin-top: 20px;
  overflow: hidden;
}
main #today #goods-nav li:nth-child(3n) {
  margin-right: 0;
}
main #today #goods-nav li {
  width: 374px;
  height: 452px;
  border: 1px solid #EDEDED;
  float: left;
  margin-right: 39px;
  margin-bottom: 20px;
}
main #today #goods-nav li:hover {
  border-color: #ff3333;
}
main #today #goods-nav li a {
  display: block;
}
main #today #goods-nav .gn-pic {
  height: 290px;
}
main #today #goods-nav .gn-pic img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
main #today #goods-nav .gn-brief {
  padding: 12px 0 0;
  margin: 0 15px;
  border-bottom: 1px dashed #dedede;
  text-align: left;
}
main #today #goods-nav .gn-brief .gn-name {
  height: 22px;
  line-height: 22px;
  color: #333;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 2px;
}
main #today #goods-nav .gn-brief .gn-intro {
  height: 14px;
  line-height: 12px;
  color: #999999;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main #today #goods-nav .gn-brief .gn-detail {
  height: 50px;
  margin-top: 10px;
}
main #today #goods-nav .gn-brief .gn-detail .detail-left {
  text-align: left;
  float: left;
}
main #today #goods-nav .gn-brief .gn-detail .detail-left .gn-current {
  font-size: 20px;
  color: red;
  font-weight: 900;
}
main #today #goods-nav .gn-brief .gn-detail .detail-left .gn-original {
  font-size: 12px;
  color: #999999;
  vertical-align: middle;
  margin-right: 4px;
  text-decoration: line-through;
}
main #today #goods-nav .gn-brief .gn-detail .detail-left .gn-save {
  display: inline-block;
  height: 18px;
  padding: 0 5px;
  border: 1px solid #C81F1E;
  vertical-align: middle;
  font-size: 12px;
  color: #C81F1E;
  line-height: 18px;
}
main #today #goods-nav .gn-brief .gn-btn {
  width: 84px;
  height: 40px;
  display: block;
  float: right;
  background: #C31F1E;
  line-height: 40px;
  text-align: center;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
main #today #goods-nav .gn-time {
  width: 387px;
  height: 39px;
  padding: 14px 15px 0 35px;
  font-size: 12px;
  color: #666666;
  background: url(img/showTime.png) no-repeat 15px 15px;
}
main #today #gn-more {
  height: 50px;
  background: #FAFAFA;
  line-height: 50px;
  text-align: center;
  font-size: 12px;
}
main #today #gn-more a {
  color: #666666;
}
main #today #gn-more a:hover {
  color: #c00;
  text-decoration: underline;
}

footer {
  margin-top: 20px;
  position: relative;
}
footer #ft-group {
  width: 100%;
  border-top: 1px solid #E1E1E1;
}
footer .ft-group {
  height: 241px;
  padding-top: 29px;
}
footer .ft-group dl {
  width: 175px;
  float: left;
}
footer .ft-group dl dt {
  font-weight: bold;
  margin-bottom: 12px;
  color: #333;
  font-size: 14px;
}
footer .ft-group dl dd {
  margin-bottom: 10px;
  color: #666;
  font-size: 12px;
}
footer .ft-group dl dd a {
  color: #666;
}
footer .ft-group dl dd a:hover {
  color: #c00;
  text-decoration: underline;
}
footer .ft-group dl dd .weibo {
  display: inline-block;
  padding-left: 26px;
  height: 17px;
  background: url(img/sina.png) no-repeat;
}
footer .ft-group #ft-service {
  width: 130px;
  float: left;
  margin-left: 12px;
  text-align: center;
}
footer .ft-group #ft-service p {
  text-align: center;
  font-size: 12px;
  color: #333333;
}
footer .ft-group #ft-service .code {
  margin: -6px 0 10px;
}
footer .ft-group #ft-service .code img {
  width: 130px;
  height: 130px;
}
footer #ft-bottom {
  width: 100%;
  padding: 56px 0 30px;
  background: #2d2d2d;
}
footer .ft-bottom {
  height: 192px;
}
footer .fn-entry {
  overflow: hidden;
}
footer .fn-entry li {
  float: left;
  border-right: 1px solid #475766;
  padding-right: 1px;
}
footer .fn-entry li a {
  font-size: 12px;
  display: block;
  padding: 0 13px;
  color: #fff;
}
footer .fn-entry li a:hover {
  text-decoration: underline;
}
footer .ft-help {
  margin-top: 30px;
  overflow: hidden;
}
footer .ft-help li {
  float: left;
  border-right: 1px solid #475766;
  padding-right: 1px;
}
footer .ft-help li a {
  font-size: 12px;
  display: block;
  padding: 0 13px;
  color: #999999;
}
footer .ft-help li a:hover {
  text-decoration: underline;
}
footer .ft-help li:nth-child(3) {
  border-right: none;
}
footer .copyright {
  display: inline-block;
  font-size: 12px;
  color: #999999;
  padding-left: 13px;
  margin-top: 31px;
}
footer .copyright a {
  margin: 0 10px;
  color: #999;
  white-space: normal;
  word-break: keep-all;
}
footer .copyright a:hover {
  text-decoration: underline;
}
footer .Advertising {
  color: #fff;
  height: 18px;
  background: #666;
  border-radius: 3px;
  float: right;
  margin-right: 50px;
  padding: 0 8px;
  position: absolute;
  bottom: 12px;
  right: 50px;
  font-size: 12px;
}
footer .Advertising:hover {
  text-decoration: underline;
}

#widget {
  display: none;
  position: fixed;
  left: 90%;
  bottom: 30%;
  opacity: 0;
}
#widget li {
  margin-bottom: 6px;
  position: relative;
  background: #000;
}
#widget li:hover {
  background: #f33;
}
#widget li a {
  display: block;
  width: 40px;
  height: 36px;
  padding: 2px 8px 0 8px;
  text-align: center;
  font-size: 12px;
  color: #fff;
}
#widget li a:hover {
  text-decoration: underline;
}
#widget li div {
  display: none;
  position: absolute;
  left: -117px;
  top: -30px;
  width: 116px;
  border: 1px solid #cfcfcf;
  padding: 10px 5px;
  background: #fff;
  text-align: center;
  z-index: 9;
  font-size: 12px;
}
#widget li div .pic img {
  width: 106px;
  height: 106px;
}
#widget li div .phone {
  margin: 8px 0 6px;
}
#widget li div .phone-num {
  color: #f33;
}
#widget .wg-service:hover div {
  display: block;
}
#widget .return {
  background: #000;
}
#widget .return a {
  background: url(img/arrow-up.png) no-repeat center;
}

/*# sourceMappingURL=index.css.map */
