* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  width: 990px;
  margin: 0 auto;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
header {
  width: 100%;
}

#head {
  width: 100%;
  height: 144px;
  padding-top: 63px;
  padding-bottom: 19px;
}
#head .head {
  height: 62px;
}
#head .head .logo {
  float: left;
}
#head .head .logo a {
  display: block;
}
#head .head .logo a img {
  float: left;
}
#head .head .logo a p {
  float: left;
  margin: 8px 0 0 8px;
  padding-left: 10px;
  font-size: 14px;
  color: #666;
  border-left: 1px solid #e6e6e6;
}
#head .head #go-log {
  float: right;
  margin-top: 26px;
  font-size: 12px;
}
#head .head #go-log a {
  color: #CC0000;
}
#head .head #go-log a:hover {
  background: #cd1f1f;
  color: #fff;
}

main {
  width: 100%;
}
main #login {
  width: 100%;
  margin-top: 25px;
}
main .login {
  height: 352px;
  border: 1px solid #e6e6e6;
}
main .login-left {
  float: left;
}
main .login-left a {
  display: block;
}
main .login-right {
  width: 380px;
  padding-right: 86px;
  padding-top: 20px;
  height: 341px;
  float: right;
  overflow: hidden;
  position: relative;
}
main .lr-tab {
  overflow: hidden;
}
main .lr-tab h3 {
  width: 145px;
  height: 37px;
  border-bottom: 2px solid #E6E6E6;
  float: left;
  line-height: 37px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #666666;
  cursor: pointer;
}
main .lr-tab .active {
  border-bottom-color: #DE3030;
  color: #333333;
}
main .login-content {
  width: 290px;
  padding-top: 25px;
  position: absolute;
}
main .login-content .login_input {
  height: 40px;
  width: 290px;
  padding: 8px 5px;
  border: 1px solid #cccccc;
  margin-bottom: 10px;
}
main .login-content .login_input::-webkit-input-placeholder {
  color: #767676;
  font-size: 14px;
  line-height: 40px;
}
main .login-content .login_input::-moz-placeholder {
  color: #767676;
  font-size: 14px;
  line-height: 40px;
}
main .login-content .login_input::-ms-input-placeholder {
  color: #767676;
  font-size: 14px;
  line-height: 40px;
}
main .login-content .login_input:focus {
  border-color: #de3030;
}
main .login-content .login-other {
  width: 290px;
  height: 38px;
  padding: 0 0 10px;
  overflow: hidden;
}
main .login-content .login-other .lo-phone {
  padding-left: 17px;
  width: 101px;
  height: 28px;
  line-height: 28px;
  display: block;
  float: left;
  font-size: 12px;
  background: url(img/login-bg.png);
  background-position: -158px -239px;
  color: #333333;
}
main .login-content .login-other .lo-phone:hover {
  color: #c00;
  text-decoration: underline;
}
main .login-content .login-other .forget {
  height: 28px;
  display: block;
  float: right;
  font-size: 12px;
  line-height: 28px;
  color: #3d4ba0;
}
main .login-content .login-other .forget:hover {
  color: #c00;
  text-decoration: underline;
}
main .login-content .login-btn {
  width: 290px;
  height: 40px;
  background: url(img/bg.png);
  background-position: 0 0;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 6px;
  margin-bottom: 15px;
}
main .login-content .login-btn:hover {
  background-position: 0 -41px;
}
main .login-content .lg-team {
  width: 290px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  font-size: 12px;
  color: #666666;
  margin-bottom: 10px;
}
main .login-content .lg-team .line1, main .login-content .lg-team .line2 {
  display: inline-block;
  height: 1px;
  width: 100px;
  background: #f0f0f0;
  vertical-align: middle;
}
main .login-content .lg-team .team-title {
  display: inline-block;
  height: 18px;
  line-height: 18px;
  vertical-align: middle;
}
main .login-content .lg-foot {
  width: 290px;
  height: 38px;
  text-align: center;
}
main .login-content .lg-foot a {
  display: inline-block;
  height: 38px;
  width: 38px;
  background: url(img/bg.png);
  margin-right: 10px;
}
main .login-content .lg-foot .weixin {
  background: url(img/bgs2.png);
  background-position: 0 0;
}
main .login-content .lg-foot .weixin:hover {
  background-position: 0 -38px;
}
main .login-content .lg-foot .sina {
  background-position: 0 -82px;
}
main .login-content .lg-foot .sina:hover {
  background-position: 0 -121px;
}
main .login-content .lg-foot .qq {
  background-position: -39px -82px;
}
main .login-content .lg-foot .qq:hover {
  background-position: -39px -121px;
}
main .login-content .lg-foot .alipay {
  background-position: -78px -82px;
}
main .login-content .lg-foot .alipay:hover {
  background-position: -78px -121px;
}
main .login-content .lg-foot .baidu {
  background-position: -117px -82px;
}
main .login-content .lg-foot .baidu:hover {
  background-position: -117px -121px;
}

footer #ft-box {
  width: 100%;
  margin-top: 50px;
  padding: 12px 0 25px;
  border-top: 1px solid #dcdcdc;
  height: 100px;
}
footer .ft-box .ft-left {
  float: left;
}
footer .ft-box .ft-left li {
  float: left;
}
footer .ft-box .ft-left li a {
  padding: 0 10px;
  font-size: 12px;
  color: #666666;
  border-right: 1px solid #dcccdc;
}
footer .ft-box .ft-left li:nth-child(3) a {
  border-right: none;
}
footer .ft-box p {
  float: right;
  font-size: 12px;
}

/*# sourceMappingURL=login.css.map */
